body {
    font-family: 'Roboto Mono', monospace;
}

.res-present {
    min-width: 480px;
}

.results-box {
    font-size: 0.75em;
}

.card-footer {
    font-size: 0.5em;
}

a {
    color: black;
}

.input {
    float: right;
    margin-bottom: 5px;
    padding: 2px;
}

.input-text {
    float: right;
    font-stretch: expanded;
    font-style: italic;
    font-weight: normal;
    text-align: right;
}
